extends ../layouts/default

block content
	.container: .jumbotron
		img(src='http://res.cloudinary.com/conscious-creative/image/upload/v1446652634/recol.jpg', width='160')
		cloudinary.image("recol.jpg", { alt: "Recolution" })
		h1 Welcome
		p To the recolution!
		hr

		if user && user.canAccessKeystone
			p
				a(href='/keystone').btn.btn-lg.btn-primary Open the Admin UI

		p Website under construction- please contact <a href="mailto:ri">Richard</a> for more information...
